<html>
<head> 
	<title>Video streaming with Node.js</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head> 
<body>
		<a href="/">Home</a>
		<a href="/profile"><p><%=currentUser.name%></p></a>
		<p><a href="#">Email</a>: <%=currentUser.email%></p>
		<a href="/logout">Logout</a>
		<h2><%=video.title%></h2>
		<video id="video" width="640" controls>
			<source src="/courses/<%=course_id%>/video/watch/<%=video._id%>" type="video/mp4">
		</video>
		
		<div>
			<form id="add-bookmark-form" action="/video/<%=video._id%>/bookmarks/" method="POST" style="display: none;">
				<input id="time" type="text" name="time" style="display: none;">
				<input id="text" type="text" name="text" placeholder="text">
				<button id="create">Create</button>
			</form>
	
				<button id="bookmark">Bookmark</button>
		</div>
	
		<div>
			<button type="button" id="backward">-10s</button>
			<button type="button" id="forward">+10s</button>
		</div>
	
		<div>
			<button type="button" id="slow">0.5x</button>
			<button type="button" id="littleSlow">0.75x</button>
			<button type="button" id="normal">1x</button>
			<button type="button" id="littleFast">1.25x</button>
			<button type="button" id="fast">1.5x</button>
			<button type="button" id="veryFast">2x</button>
		</div>
	
		<div>Bookmarks</div>

		<ul class="list-group" id="bookmark-list">
			<%bookmarks.forEach(function(bookmark){%>
				<%if(bookmark.video._id.equals(video._id)){%>
					<li class="list-group-item"><strong><%=bookmark.timestamp%></strong>  : <%=bookmark.text%></li>
				<%}%>
				
			<%})%>
		</ul>

	 
	
		
	  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		var video         =document.getElementById('video'),
			goto          =document.getElementById("goto"),
			forward       =document.getElementById("forward"),
			backward      =document.getElementById("backward"),
			slow          =document.getElementById("slow"),
			littleSlow    =document.getElementById("littleSlow"),
			normal        =document.getElementById("normal"),
			littleFast    =document.getElementById("littleFast"),
			fast          =document.getElementById("fast"),
			veryFast      =document.getElementById("veryFast"),
			create        =document.getElementById("create"),
			bookmark      =document.getElementById("bookmark"),
			time          =document.getElementById("time");
		let timeStamp;
	
		$('#bookmark').click(function(){
			$('#add-bookmark-form').toggle();
			console.log(video.currentTime)
			//console.log(video.currentTime+20)
			timeStamp=Math.floor(video.currentTime);
			console.log(timeStamp)
			var min = Math.floor(timeStamp / 60 );
			var sec=timeStamp%60;
			if(sec<10){
				timeStamp=min+":0"+sec;
			}else{
				timeStamp=min+":"+sec;
			}
			// console.log(timeStamp)
			document.getElementById('time').value=timeStamp;
			//console.log(timeStamp)
		})
	
		$('#add-bookmark-form').submit(function(e){
			e.preventDefault();
			$('#add-bookmark-form').toggle();
			var bookmarkItem=$(this).serialize();
			console.log(bookmarkItem);
		
			$.post('/courses/<%=course_id%>/video/<%=video._id%>', bookmarkItem, function(data){

				
				$('#bookmark-list').append(
					`<li class="list-group-item"><strong>${data.timestamp}</strong>  : ${data.text}</li>`
				)
			})
			
			$(this).find('#text').val('');
		})
	
		
	
		forward.onclick=function myFunction(){
			video.currentTime=video.currentTime+10;
		}
	
		backward.onclick=function myFunction(){
			video.currentTime=video.currentTime-10;
		}
	
		slow.onclick=function setPlaySpeed() { 
			video.playbackRate = 0.5;
		}
	
		littleSlow.onclick=function setPlaySpeed() { 
			video.playbackRate = 0.75;
		}
	
		normal.onclick=function setPlaySpeed() { 
			video.playbackRate = 1;
		}
	
		littleFast.onclick=function setPlaySpeed() { 
			video.playbackRate = 1.25;
		}
	
		fast.onclick=function setPlaySpeed() { 
			video.playbackRate = 1.5;
		}
	
		veryFast.onclick=function setPlaySpeed() { 
			video.playbackRate = 2;
		}	
	</script>
	
	


</body> 
</html>
