<html>

<head>
    <title>View <%=course.title%></title>
</head>

<body>
    <div>
        <h1>
            <%=course.title%>
        </h1>
    </div>
    <div>
        <p>
            <strong>Topics Covered</strong>: <%course.topics.forEach(function(topic){%>
            <%=topic%>
            <%})%>
        </p>
        <p>
            <strong>Videos of course :-</strong>
        </p>

        <p>
            <strong>No. of Video</strong>: <%=course.videos.length%>
        </p>

        <br>
        <a href="/admin/courses/<%=course._id%>/video/add">add a new video to course</a>
    </div>
</body>

</html>