<html>

<head>
    <title>View <%=course.title%></title>
</head>

<body>
    <div>
        <h1>
            <%=course.title%>
        </h1>
    </div>
    <div>
        <p>
            <strong>Topics Covered</strong>: <%course.topics.forEach(function(topic){%>
            <%=topic%>
            <%})%>
        </p>
        <p>
            <strong>Videos of course :-</strong>
        </p>
        <%course.videos.forEach(function(media){%>
        <p>
            <strong>Title of Video</strong>: <%=media.title%>
            <br>
            <strong>Total Views</strong>: <%=media.viewcount%>
        </p>
        <%})%>
        <br>
        <a href="/admin/courses/<%=course._id%>/video/add">add a new video to course</a>
    </div>
</body>

</html>